:root {
  --color-black: #141414;
  --color-dark-green: #1e2827;
  --color-white: #ffffff;
}
html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: "Epilogue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.container {
    margin: 0 auto;

    @media screen and (min-width: 335px) {
        width: 335px;
    }
    @media screen and (min-width: 768px) {
        width: 724px;
    }
    @media screen and (min-width: 1280px) {
        width: 1176px;
    }
}
// header-----------------------------
.header {
    background-color: var(--color-black);
    padding: 29px 20px 0 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-logo {
font-size: 12px;
line-height: 1;
letter-spacing: -0.03em;
color: var(--color-white);

}
.btn-menu {
    background-color: var(--color-black);
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
}
.menu-icon {
  fill: #ffffff;
    width: 24px;
    height: 24px;
}
// hero -----------------------------
.hero {
  background-color: var(--color-black);
  padding-top: 69px;
  padding-bottom: 40px;
   @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 64px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 80px;
  }
}
.hero .container {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

  }
}
.hero-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: var(--color-white);

  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
       font-size: 60px;
       line-height: 1.03;
    }
  @media screen and (min-width: 1280px) {
    width: 750px;
    margin-bottom: 0;
  }
}
.wrap-sliders {
  margin-bottom: 40px;
  width: 266px;
   @media screen and (min-width: 768px) {
    width: 436px;
    }
    @media screen and (min-width: 1280px) {
       order: 2;
       margin-top: auto;
       margin-right: 64px;
       margin-bottom: 0;
    }
}
.swiper {
  margin-left: 0;
  margin-bottom: 20px;
   width: 266px;
  height: 200px;
  @media screen and (min-width: 768px) {
    width: 436px;
    height: 255px;
    }
}
.swiper-slide {
  width: 266px;
  height: 200px;
  @media screen and (min-width: 768px) {
    width: 436px;
    height: 255px;
    }
}
.swiper-slide img {
  object-fit: cover;
  height: 100%;
}
.bottom-slider {
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
}
.swiper-buttons {
  display: flex;
}
.button-prev {
  margin-right: 12px;
}
.btn-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #141414;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  @media screen and (min-width:768px) {
    width: 40px;
    height: 40px;
  }
}
.btn-slide:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}
.btn-slide:hover .icon-slide {
  stroke: var(--color-white);
}
.icon-slide {
  width: 18px;
  height: 18px;
  stroke: rgba(255, 255, 255, 0.5);
  @media screen and (min-width:768px) {
    width: 24px;
    height: 24px;
  }
}
.number-slides {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-white);
}
.hero-descr {
  width: 248px;
  
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-white);

  margin-bottom: 40px;
  margin-left: auto;
  @media screen and (min-width:1280px) {
    order: 1;
    width: 282px;
    margin-bottom: 77px;
  }
}
.hero-img {
  background-image: url(../img/Rectangle1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../img/Rectangle1@2x.jpg);
}
  @media screen and (min-width:375px) {
    width: 335px;
    height: 410px;
  }
  @media screen and (min-width:768px) {
    width: 704px;
    height: 410px;
  }
  @media screen and (min-width:1280px) {
    order: 2;
    width:676px;
    height:394px;
  }
}